@import 'variables.scss';

.add-to-cart {
  background-color: $grey;
  display: flex;
  align-items: center;

  & > * {
    padding: 0.8rem 1.5rem;
  }

  button {
    font-size: 0.8125rem;
    font-weight: 700;
    transition: $transition;
    color: $black;
    opacity: 0.25;
    &:hover {
      color: $orange;
    }
  }
}
