@import 'variables.scss';

.category-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 128px;

  @media (max-width: 1150px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 52px;
  }

  &:nth-child(2) {
    .product-details {
      order: -1;
      @media (max-width: 1150px) {
        order: 0;
      }
    }
  }
  img {
    object-fit: cover;
    width: 560px;
    height: 540px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
  .product-details {
    width: 445px;

    @media (max-width: 600px) {
      width: 100%;
    }

    .new-product {
      color: $orange;
      font-size: 0.8125rem;
      letter-spacing: 10px;
      text-transform: uppercase;
    }

    h1 {
      color: $black;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 1.429px;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .description {
      color: $black;
      opacity: 0.5;
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 3.5rem;
    }
  }
}
