@import 'reset.scss';
@import 'product.scss';
@import 'addToCart.scss';
@import 'summaryCartItems.scss';

.p-dialog-header,
.p-dialog-content {
  padding: 2rem !important;
}

.p-dialog-header-icon {
  display: none;
}

@media screen and (min-width: 1150px) {
  body::-webkit-scrollbar {
    width: 16px;
  }

  body::-webkit-scrollbar-track {
    background: #ffffff;
  }

  body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 100vh;
    border: 3px solid #ffffff;
  }
}
