@import 'variables.scss';

.summary-cart-items {
  display: grid;
  gap: 1.5rem;

  .summary-cart-item {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;

    img {
      width: 64px;
      height: 64px;
      border-radius: 8px;
    }

    .cart-items-detail {
      display: flex;
      flex-direction: column;
      justify-self: start;
      flex-grow: 1;
      font-weight: 700;

      p {
        font-size: 0.9375rem;
      }

      span {
        font-size: 0.8125rem;
        opacity: 0.5;
      }
    }

    .cart-items-quantity {
      font-weight: 700;
      opacity: 0.5;
      font-size: 0.9375rem;
    }
  }
}
