@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

$font: 'Manrope', sans-serif;

$orange: #d87d4a;
$black: #101010;
$grey: #f1f1f1;
$lightGrey: #fafafa;
$orangeHover: #fbaf85;
$white: #fff;
$blackHover: #4c4c4c;
$inputBorder: #cfcfcf;
$transition: all 0.2s linear;

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
